<div class="container-fluid" nga-app="chefstep">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h1 ng-if="name">Listing of Emails</h1>
      <div class="panel-body">
        <form class="form-inline" action="">
          <div class="form-group">
            <input class="form-control" type="text" placeholder="Enter your name" autofocus ng-model="name">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
